<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.p6atrk.massage_appointment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Massageappointment">
        <activity
            android:name=".appointment.AppointmentList"
            android:exported="false" />
        <activity
            android:name=".appointment.AppointmentItem"
            android:exported="false" />
        <activity
            android:name=".book.MasseurSelect"
            android:exported="false" />
        <activity
            android:name=".book.Book"
            android:exported="false"
            android:label="@string/book" />
        <activity
            android:name=".book.MassageSelect"
            android:exported="false"
            android:label="@string/massage_select" />
        <activity
            android:name=".About"
            android:exported="false"
            android:label="@string/about" />
        <activity
            android:name=".home.LogIn"
            android:exported="false"
            android:label="@string/log_in"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".home.SignUp"
            android:exported="false"
            android:label="@string/sign_up"
            android:parentActivityName=".home.HomePage" />
        <activity
            android:name=".home.HomePage"
            android:exported="true"
            android:label="@string/massage_appointment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>